@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;

    --primary: 201 70% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 182 39% 45%;
    --secondary-foreground: 0 0% 100%;

    --accent: 199 30% 40%;
    --accent-foreground: 0 0% 100%;

    --muted: 200 50% 15%;
    --muted-foreground: 215 20.2% 75.1%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 201 70% 40%;

    --success: 142 76% 36%;
    --info: 199 89% 48%;
    --warning: 31 92% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
    font-size: 1.2rem;
  }

  html {
    min-height: 100%;
    position: relative;
    background-color: var(--background);
    scrollbar-width: none;
  }

  .flex-center {
    @apply flex justify-center items-center
  }
}

